/* ========================
 +++ BASE ELEMENT STYLES +++
 ======================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    margin: 0;
}

.row {
    margin: 0 auto;
}

ul {
    margin-left: -15px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.1em;
    margin-bottom: 1.8em;
}

h2,
h3,
h4 {
    color: #093a58;
}

h2,
h3 {
    margin-top: 0;
}

a {
    font-size: 1.1em;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ========================
 +++ BASE LAYOUT STYLES +++
 ======================== */

/* ---- Navigation ---- */

.name {
    font-size: 1.35em;
    margin: 0;
    display: none;
}

/*
.comp-logo {
	width: 150px;
    margin: 0;
    align-content: center;
}
*/

.main-nav {
    margin-top: 5px;
}

.name a,
.main-nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}

.main-nav a {
    font-size: .98em;
    color: #747474;
    /*	text-transform: uppercase;  */
}

.button-menu {
    display: inline-block;
}

.main-nav a:hover {
    color: #093a58;
}

/* ---- BANNERS ---- */

.logo {
    width: 250px;
}

.banner {
    color: #fff;
    background-size: cover;
    background-position: bottom;
    padding: 3.2em 0;
    margin-bottom: 48px;

    -webkit-box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.57);
    box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.57);
}

.banner-main {
    background-image: url(../img/2.jpg);
}

.banner-products {
    background-image: url(../img/products.jpg);
    /*
    -webkit-filter: grayscale(0.3);
    -moz-filter: grayscale(0.3);
    filter: grayscale(0.3);
*/
}

.banner-business {
    background-image: url(../img/2.jpg);
/* 
    -webkit-filter: grayscale(0.2);
    -moz-filter: grayscale(0.2);
    filter: grayscale(0.2);
*/

}

.headline {
    margin-bottom: 0;
}

.shadow {
    text-shadow: 4px 2px 10px rgba(0, 0, 0, 1);
}

/* ---- Layout Containers ---- */

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.col,
.box {
    padding: 0 1em 2.5em 1em;
}

.d-block {
    display: block;
    margin-top: auto;
    align-self: flex-start;
}

.d-inline-block {
    display: inline-block;
}

#footer {
    background-color: #c6c6c6;
}

.main-footer {
    padding: 2em;
}

#contact {
    background-color: #333333;
}

/* ---- Layout/Page Elements ---- */

button {
    border: none;
    background: none;
}

.feat-img {
    border-radius: 5px;
}

.button-more {
    color: #fff;
    text-align: center;
    padding: .625em 1.25em;
    background: #3acec2;
    border-radius: .35em;
    margin-top: auto;
    align-self: flex-start;
}

.txt-center {
    text-align: center;
}

.contact-title {
    color: #FFF;
    text-align: center;
    font-size: 3em;
    margin: 50px;
}

.contact-details {
    display: inline-block;
    color: #f0f0f0;
    font-size: 1.2em;
    font-weight: 100;
    margin: 0 40px 20px 0;
}

#contact li .fa {
    display: inline-block;
	margin-right: 10px;
	padding-top: 5px;
	font-size: 21px;
	color: #ffffff;
}

footer img {
	display: inline-block;
	width: 10em;
	height: auto;
    margin-bottom: 30px;
}

.footer-info {
    font-size: 0.83em;
    text-align: center;
}

.footer-author-info {
    font-size: 0.83em;
    align-items: center;
    text-align: center;
}

.social-links {
    text-align: center;
}

footer .fa {
    color: #9d9d9d;
    background-color: #2e3238;
    padding: 10px;
    margin: 3px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer .fa:hover {
    background-color: #101010;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

/* ========================
 +++ MEDIA QUERIES +++
 ======================== */

@media (min-width: 769px) {
    .main-header,
    .row {
        width: 90%;
        margin: 0 auto;
    }
    .tagline {
        font-size: 1.4em;
    }

    .small {
        font-size: 1em;
    }

    .button-menu {
        margin: 0 10px 5px;
    }
    
    .main-header > ul > li > a {
      position: relative;
      text-decoration:none;
    }

    .main-header > ul > li > a:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 1px;
      bottom: 0;
      left: 25%;
      background-color: #868686;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    .main-header > ul > li:not(:nth-child(4)) > a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    .contact-border {
        /*        background-color: #F1F6F8;*/
        border: 1px solid #bababa;
        border-radius: 20px;
    }

    .banner {
        background-attachment: fixed;
    }


}

@media (min-width: 1025px) {
    .main-header,
    .row {
        width: 80%;
        max-width: 1150px;
    }

    .name {
        display: inline-block;
    }
    
    .footer-info {
        font-size: 0.9em;
        text-align: left;
    }

    .footer-author-info {
        font-size: 0.9em;
        align-items: flex-end;
    }
    
}
