/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}

.row {
    margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

p {
	font-size: 1.1em;
	margin-bottom: 1.8em;
}

h2,
h3,
h4,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
    font-size: 1.1em;
	text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/*
.border-menu {
    border-right: 1px solid #093a58;
}
*/

img {
	max-width: 100%;
    border-radius: 5px;
    margin: 0 0 15px 0;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
    display: none;
}

/*
.comp-logo {
	width: 150px;
    margin: 0;
    align-content: center;
}
*/

.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .98em;
	color: #747474;
/*	text-transform: uppercase;*/
}
.main-nav a:hover {
	color: #093a58;
}

button {
    border: none;
    background: none;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner {
    color: #fff;
    background-size: cover;
    background-position: bottom;
    padding: 3.2em 0;
	margin-bottom: 48px;
    
	-webkit-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.57);
	-moz-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.57);
	box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.57);
}

.banner-main {
    background-image: url(../img/2.jpg);
}

.banner-products {
    background-image: url(../img/products.jpg);
/*
    -webkit-filter: grayscale(0.3);
    -moz-filter: grayscale(0.3);
    filter: grayscale(0.3);
*/
}

.banner-business {
    background-image: url(../img/2.jpg);
/*
    -webkit-filter: grayscale(0.2);
    -moz-filter: grayscale(0.2);
    filter: grayscale(0.2);
*/
}



.col,
.box {
	padding-right: 1em;
	padding-left: 1em;
    margin-bottom: 40px;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 250px;
}

.headline {
	margin-bottom: 0;
}

.feat-img {
	border-radius: 5px;
}

.button-menu {
    display: inline-block;
}

.button-more {
	color: #fff;
	text-align: center;
	padding: .625em 1.25em;
	background: #3acec2;
	border-radius: .35em;
    margin-top: auto;
    align-self: flex-start;
}

.txt-center {
    text-align: center;
}

.shadow {
    text-shadow: 4px 2px 10px rgba(0, 0, 0, 1);
}
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}
    
    .small {
		font-size: 1em;
	}
    
    .button-menu {
        margin: 0 10px 5px; 10px;
/*
        background-color: #F1F6F8;
        border-radius: 20px;
*/
    }
    
    .contact-border {
/*        background-color: #F1F6F8;*/
        border: 1px solid #bababa;
        border-radius: 20px;
    }
    
    .banner {
        background-attachment: fixed;
    }
        
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
	}
    
    .name {
        display: inline-block;
    }
}